# ===========================
# SQL Server Configuration
# ===========================

MSSQL_HOST=localhost # Hostname or IP address of the SQL Server
MSSQL_PORT=1433 # Port for SQL Server
MSSQL_DATABASE=EnterpriseLFSDB # Default database name - Should not be changed
MSSQL_USERNAME=sa # Username for SQL Server
MSSQL_PASSWORD=Luxury@Fragrance # Password for SQL Server
MSSQL_SA_PASSWORD=Luxury@Fragrance # Strong password for SA user
MSSQL_PID=Express # SQL Server edition (Express, Developer, etc.)

# ===========================
# Docker Configuration
# ===========================

CONTAINER_NAME=lfs_mssql # Name of the Docker container
PLATFORM=linux/amd64 # Platform for the Docker image

# ===========================
# Backend Configuration
# ===========================

SERVER_PORT=8080 # Port for the backend server