# ===========================
# SQL Server Configuration
# ===========================

ACCEPT_EULA=Y # Accept the EULA
MSSQL_SA_PASSWORD=Luxury@Fragrance # Strong password for SA user
MSSQL_PID=Express # SQL Server edition (Express, Developer, etc.)

# ===========================
# Docker Configuration
# ===========================

MSSQL_PORT=1433 # Port for SQL Server
CONTAINER_NAME=lfs_mssql # Name of the Docker container
PLATFORM=linux/amd64 # Platform for the Docker image
DB_FOLDER=./ # Folder containing docker-compose.yml