# ===========================
# SQL Server Configuration
# ===========================

MSSQL_DATABASE=EnterpriseLFSDB # Default database name - Should not be changed
MSSQL_SA_PASSWORD=Luxury@Fragrance # Strong password for SA user
MSSQL_USERNAME=admin # Username for SQL Server
MSSQL_PASSWORD=Luxury@Fragrance # Password for SQL Server

# ===========================
# Docker Configuration
# ===========================

MSSQL_PORT=1433 # Port for SQL Server
CONTAINER_NAME=lfs_mssql # Name of the Docker container
PLATFORM=linux/amd64 # Platform for the Docker image
MSSQL_PID=Express # SQL Server edition (Express, Developer, etc.)

DB_FOLDER=./ # Folder containing docker-compose.yml